html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Sunflower', sans-serif; /* this should be the rest of the output you got from Google fonts */
  background-color: #FDC3C3;
}
h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  color: white;
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #CA1F61;
  padding: 0 20px 20px 20px;
  border: 5px solid red;
}
h1 {
  margin: 0;
  padding: 20px 0;    
  color: #FDC3C3;
  text-shadow: 4px 4px 1px black;
}
img {
  display: block;
  margin: 0 auto;
}
h4 {
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 1px black;
  color: white;
}
h6 {
  font-size: 20px;
  line-height: 1px;
  color: white;
}
p {
  text-align: center;
}
h5 {
  font-size: 20px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 1px black;
}
body {
  background-image: url("images/background1.jpg");
}